.artist-thumb{
  width: 8rem;
  height: auto;
  float:left;
  margin-top: 4 rem;
  margin-right: 2 rem;
}

.artist-albums{
  margin-top: 5rem;
}

.album{
  height: 21rem;
  margin-bottom: 0.5rem;
}

.album-thumb{
  width: 15rem;
  height: 15rem;
}

.details-title{
  height: 3rem;
}