<div>
  <div class="navbar navbar-dark bg-dark box-shadow">
    <div class="container d-flex justify-content-between">
      <a href="#"
        class="navbar-brand d-flex align-items-center">
        <svg xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="mr-2">
          <path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path>
          <circle cx="12"
            cy="13"
            r="4"></circle>
        </svg>
        <strong>GitHub Search</strong>
      </a>
      <button class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarHeader"
        aria-controls="navbarHeader"
        aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <form>
      <div class="form-group">
        <input type="text"
          class="form-control"
          placeholder="Enter GitHub username"
          [(ngModel)]="username"
          name="username"
          (keyup)="searchUser()">
      </div>
    </form>
  </div>
  <div class="card"
    *ngIf="user">
    <div class="card-header">
      <h3 class="panel-title">{{user.name}}</h3>
    </div>
    <div class="row">
      <div class="col-md-3">
        <img class="img-thumbnail"
          [src]="user.avatar_url" />
        <a class="btn btn-secondary btn-block"
          [href]="user.html_url">View Profile</a>
      </div>
      <div class="col-md-8">
        <div class="stats">
          <span class="badge badge-pill badge-primary">{{user.public_repos}} Public
            Repos</span>
          <span class="badge badge-pill badge-secondary">{{user.public_gists}}
            Public Gists</span>
          <span class="badge badge-pill badge-success">{{user.followers}} Followers</span>
          <span class="badge badge-pill badge-danger">{{user.following}} Following</span>
        </div>
        <div>
          <ul class="list-group">
            <li class="list-group-item"><strong>Username: </strong>{{user.login}}</li>
            <li class="list-group-item"><strong>Location: </strong>{{user.location}}</li>
            <li class="list-group-item"><strong>Email: </strong>{{user.email}}</li>
            <li class="list-group-item"><strong>Blog: </strong>{{user.blog}}</li>
            <li class="list-group-item"><strong>Memeber since: </strong>{{user.created_at
              | date: 'yyyy-MM-dd' }}</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h3 class="panel-title">User Repos ({{repos.length}})</h3>
      </div>
      <div class="card-body">
        <div *ngFor="let repo of repos">
          <div class="row">
            <div class="col-md-9">
              <h6><a target="_blank"
                  [href]="repo.html_url">{{repo.name}}</a></h6>
              <p>{{repo.description}}</p>
            </div>
            <div class="col-md-3">
              <span class="badge badge-pill badge-primary">{{repo.watchers}}
                Watechers</span>
              <span class="badge badge-pill badge-secondary">{{repo.forks}} Forks</span>
            </div>
          </div>
          <hr>
        </div>
      </div>
    </div>

  </div>
</div>
